.span-1 {
    box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;
}

.span-2 {
    box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;
}
.img-1  {
    display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;
}

.img-2 {
    position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;
}


.channel-card {
 
    width: 32%;
    margin: 5px 5px 5px 0px;


}

/* Media query for screens less than 1180px */
@media (max-width: 1280px) {
  
.channel-card {
 
    display: flex;
    flex-direction: row;
    width: 100% !important;


}

.img-box {
    margin-top: 0.75rem !important;
}



  }


  /* Media query for screens less than 1180px */
@media (max-width: 780px) {
  
 
.container {
    flex-direction: column;
}
    
    
      }
